:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
}

/*declare las propiedades personalizadas*/

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    /**hack para el box model **/
    scroll-snap-type: y mandatory;
    /** al usar la ruedita del mouse me va pasando a las distintas secciones de la pagina**/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /* 1rem = 10px*/
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to up, var (--grisClaro) 0%, var(--blanco) 100%);
    /* Me genera un degrade en la imagen de fondo del la pagina que va de gris claro a blanca de abajo hacia arriba*/
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    /*Me separa el Contactar del icono*/
    font-size: 2rem;
    text-decoration: none;
    /*me saca el subrayado de "contactar"*/
    text-transform: uppercase;
    /*transforma el texto en mayuscula*/
    font-weight: bold;
    /* me deja el texto en negrita */
    border-radius: .5rem;
    /* me deja las esquinas del boton redondeadas */
    width: 90%;
    /*no deja que el boton ocupe toda la pantalla*/
    text-align: center;
    border: none;
    /** me saca ek borde del boton del formulario porque al ser un input genera borde automat**/
}

@media (min-width 768px) {
    .boton {
        width: auto;
    }
}

.boton:hover {
    cursor: pointer
}

/** el hoover es cuando me coloco sobre cualquier elemento, en este caso me genera una manito cuando me paro en el boton**/



.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
    background-color: var(--blanco);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}


/* Tipografias */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

/* Titulos */
.titulo span {
    font-size: 2rem;
}

/** Utilidades **/
.w-100 {
    width: 100%;
}

@media (min-width 768px) {
    .w-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

/* Navegacion Principal */
.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    /* Nos habilita Flex Box en este elemento y tenemos acceso a nuevas propiedades*/
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        /* La dirección del texto se presenta en una línea horizontal de izquierda a derecha*/
        justify-content: space-between;
        /*separa el texto horizontalemnte, manda a los dos extremos y separa a todos con la misma longitud*/
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    /*separa los margenes en todas las direcciones*/
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Hero */
.hero {
    background-image: url(../img/hero.jpg);
    /* introduzco una imagen mediante CSS */
    background-repeat: no-repeat;
    /* no deja que la imagen se repita nuevamente al ser larga (no cubre todo el largo del div) */
    background-size: cover;
    /* agranda la imagen al punto que cubra todo el div */
    height: 450px;
    padding: 20px;
    position: relative;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    /*Anterior (rgba rojo, verde, negro,*/
    background-color: rgb(0 0 0 / 70%);
    /*nueva sintaxis para definir colores*/
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* alinea horizontalmente cuando es formato columna*/
    justify-content: center;
    /*alinea verticalmente*/
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.ubicacion {
    display: flex;
    align-items: flex-end;
    /*esta propiedad lo alinea hacia abajo al final*/
}

/** Scroll Snap **/
.servicios,
.navegacion-principal .formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/** Servicios **/
@media (min-width: 768px) {
    .Servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;

        /** grid: 200px 800px/ 300px 300px; Esta anotacion equivale a grid template rows y grid template columns**/
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}

.servicio p {
    line height: 2;
    text-align: center;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/** Contacto **/
.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%);
    /** Utiliza el valor mas pequeño**/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    /** la letra se hace mayuscula**/
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4)

    /** de la clase campo elige el tercero, con esto me evito agregar otra clase mas**/
        {
        grid-column: 1 / 3;
    }

    /** el campo del correo vas desde la columna 1 a la columna 3 del grid **/

}

/** cierra el media query**/


.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
    /** Cada label toma todo el espacio que hay disponible con la propiedad display block**/
}

.campo textarea {
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.enviar .boton {
    width: 100%;
}

/** Footer **/
.footer {
    text-align: center;
}